<!DOCTYPE html>
<html lang="en">



  <head>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Walkability App</title>
    <!-- load style.css -->

    <link rel="stylesheet" href="{{url_for('static', filename='style.css')}}"/>

    <!-- load custom icons from google fonts -->

    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@24,700,0,200" />

    <!-- load Leaflet stylesheet (necessary for Leaflet to render correctly) -->

    <link   rel="stylesheet" href="https://unpkg.com/leaflet@1.9.4/dist/leaflet.css"
            integrity="sha256-p4NxAoJBhIIN+hmNHrzRCf9tD/miZyoHS5obTRR9BMY="
            crossorigin=""/>

    <!-- load JQuery and Leaflet -->
    <script src="https://code.jquery.com/jquery-3.7.1.min.js"
            integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo="
            crossorigin="anonymous" defer></script>
    <script src="https://unpkg.com/leaflet@1.9.4/dist/leaflet.js"
            integrity="sha256-20nQCchB9co0qIjJZRGuk2/Z9VM+kNiyxNV1lvTlZBo="
            crossorigin=""></script>

    <!-- load leaflet.heat plugin -->
    <script src="{{url_for('static', filename='leaflet-heat.js')}}" defer></script>

    <!-- load local main.js file -->
    <script src="{{url_for('static', filename='heatmap.js')}}" defer></script>

  </head>


  <body onload="onload()">

    <!-- Small Header Area -->
    <header>
      <p style="float: left;">Walkability App v1 Heatmap</p>
      <!-- This message only shows up when a user cannot use JavaScript -->
      <button id="menu" type="button" onclick="weightmenu()" style="float: right;"><span class="material-symbols-outlined">Tune</span></a>
    </header>

    <div id="help-icon" class="material-symbols-outlined">
      help
    </div>

    <div id="navigation-icons">
      <a href="../walk" id="walk-icon" class="material-symbols-outlined">directions_walk</a>
      <a href="../heatmap" id="heatmap-icon" class="material-symbols-outlined">map</a>
    </div>

    <!-- Main Content with Map, populated using javascript -->
    <main>
      <noscript>Enable JavaScript to use this App as intended.</noscript>
      <div id="map">
      </div>
    </main>

    <!-- Small Footer Area under the nav bar -->
    <footer>
      <a id="download" href="#" download="trackpoints.csv"></a>
      <em>D-BAUG</em>
      <em>GTA 2024</em>
    </footer>
    <!-- Menu to set the weights of the different criteria-->
    <dialog>
      <h4>Set weights for different walkability factors:</h4>
      <!--The info icon of the air quality rating criteria-->
      <div class="criteriaBox">
            <label for="range">Air Quality</label>
            <div id="info-icon-air-quality" class="material-symbols-outlined">info</div>
      </div>
      <input type="range" min="0" max="10" value="10" class="slider" id="airQuality">
      <div class="sliderticks">
            <span>0</span>
            <span>5</span>
            <span>10</span>
      </div>
      <p>Value: <span id="airqualityvalue">10</span></p>
      <!--The info icon of the user rating criteria-->
      <div class="criteriaBox">
        <label for="range">User Rating</label>
        <div id="info-icon-user-rating" class="material-symbols-outlined">info</div>
      </div>
      <input type="range" min="0" max="10" value="10" class="slider" id="userRating">
      <div class="sliderticks">
            <span>0</span>
            <span>5</span>
            <span>10</span>
      </div>
      <p>Value: <span id="userratingvalue">10</span></p>
      <div class="controls">
          <button class="cancel-btn">Cancel</button>
          <button class="set-btn">Set</button>
      </div>
    </dialog>

    <!--The show rating criteria info-->
    <!--air quality-->
    <dialog id="info-modal-airquality">
      <span id="airquality-close-modal" class="close-button">&times;</span>
      <h2>Air Quality Rating</h2>
      <p id="block_text">This critaria is based off the dataset of [...]</p>
    </dialog>

    <!--user rating-->
    <dialog id="info-modal-userrating">
      <span id="userrating-close-modal" class="close-button">&times;</span>
      <h2>User Rating</h2>
      <p id="block_text">
        This criteria represents the normalised and processed user rating gathered at the very end of the trajectory recording. It allows the spatial planners to add user's subjective perception in their analysis of the walking experience.
      </p>
      <p id="block_text">
        By averaging all the trajectory ratings within each raster cell, the new user rating score is created. By using the slider we can adjust the impact of the user rating in the total score of the raster.
      </p>
    </dialog>

    <!--help button pop up-->
    <dialog id="help-modal">
      <span id="close-modal" class="close-button">&times;</span>
      <h2>How to Use This Page</h2>
      <p>Instruction for using the webpage. For example:</p>
      <ul>
        <li>Click on the map to interact.</li>
        <li>Use the buttons on the right side to navigate between pages.</li>
        <li>Press "Start" to begin tracking your movement.</li>
      </ul>
    </dialog>

  </body>

</html>
